body {
	background-color: rgb(251,252,251);
	color: #444;
}

#init-message {
	margin: auto;
	width: fit-content;
	margin-top: 4em;
	font-size: 1.1em;
	color: #777;
}

.modal-backdrop.show {
	opacity: 0.15 !important;
}

.graphic-selector-tr .graphic-selector-tr:hover {
	border: 0px;
	background-color: white;
}

.graphic-selector-td {
	border: 0px;
}

.graphic-selector-td:hover {
	background-color: silver;
}

.graphic-selected {
	background-color: blue;
}

.no-overflow {
	overflow: hidden;
}

textarea.noborder:focus {
	box-shadow: 0 0 0 0;
}

textarea.noborder {
	border-width: 0;
}

textarea.textinput {
	font-size: 1.5em;
}

.font-size-08 {
	font-size: 0.8em;
}

.list-row-label {
	min-width:100px;
	max-width:100px;
	font-size: 0.7em;
	color: #666;
	align-self: end;
}

.list-row-text {
	align-self: center;
	color: #333;
	font-size: 0.9em;
}

.list-detail-row {
	height: 20px;
}

.list-price-badge {
	background-color: #456;
	font-size: 1.1em;
}

.list-tool-button {
	font-size: 1.3em;
	padding: 5px;
	color: #333;
}

.list-col-s {
	max-width: 160px;
	min-width: 160px;
}

.list-row {
	/*border-top: 2px solid #ddd;*/
	border-radius: 8px;
	border: solid 1px #ddd;
	margin-bottom: 5px;
}

.cursor-pointer {
	cursor: pointer;
}

.small {
	font-size: 0.9em;
}

.bi {
	color: #037B45;
}